:root {
  color-scheme: light dark;

  --bg: #fff;
  --bg-dark: #000;
  --outline: #fff;
  --font:
    system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: light-dark(var(--bg), var(--bg-dark));
  font-family: var(--font);
}
